<h1>{{title}}</h1>

<form method = "post">
    <fieldset>
        <label for="name" class="col-2">Name:</label>
        <input name="name" id="name" required/>

    </fieldset>
    <fieldset>
        <label for="value" class="col-2">Value:</label>
        <input name="value" id="value" required/>

    </fieldset>
    <fieldset>
        <label for="purchDate" class="col-2">Purchase Date:</label>
        <input name="purchDate" id="purchDate" required type="date"/>

    </fieldset>
    

<button class "offset-3 btn btn-primary">Save</button>    
</form>