
<body>

    <div class="container mt-5">
        <div class="card">
            <h1 class="card-header text-center">{{title}}</h1>
            <div class="card-body">
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac suscipit nunc. Maecenas congue, felis
                    quis bibendum ultricies, velit sapien fringilla tellus, ac varius metus justo a arcu.
                    Nullam vitae erat id quam fringilla varius in at nulla. Pellentesque efficitur justo vel velit
                    placerat, in tempus odio suscipit.
                </p>
                <p class="card-text">
                    Integer nec dapibus nisi, a venenatis urna. Vestibulum vehicula dui id risus auctor aliquam.
                    Suspendisse potenti. Suspendisse potenti. Sed vitae congue tortor, a vehicula justo.
                </p>
            </div>
        </div>
    </div>


</body>